body{
    background-color: gray;
    display: flex;
    width: 100%;
    height: 90%;
    position: absolute;
}

.flexChildElement{
    flex: 1;
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
}

.fillingElement{
    height: 100%;
    width: 100%;
}

.fillingList{
    height: 85%;
    width: 95%;
}

ul{
    background-color: white;
}

input{
    background-color: white;
    width: 90%;
    margin-right: 10px;
}

button{
    background-color: white;
}